@keyframes wave {
  0% { transform: rotate(0); }
  11% { transform: rotate(-15deg); }
  22% { transform: rotate(0); }
  33% { transform: rotate(20deg); }
  44% { transform: rotate(0); }

}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.serif {
  font-family: georgia, times, serif;
}

.operator {
  font-family: "Operator SSm A", "Operator SSm B";
  font-style: italic;
  font-weight: 700;
}

.sentinel {
  font-family: "Sentinel SSm A", "Sentinel SSm B";
  font-style: normal;
  font-weight: 400;
}

.black { color: #0a0a0a; }
.blue { color: #226D9F; }
.orange { color: #E9A318; }
.purple { color: #AA445E; }
.maroon { color: #631E15; }

.transition-color { transition: color 0.2s ease-in-out; }
.hover-orange:hover { color: #E9A318; }

.no-underline { text-decoration: none; }
.hover-underline:hover { text-decoration: underline; }

.f1 { font-size: 32px; }
.f2 { font-size: 24px; }
.fb { font-size: 18px; }

.page {
  max-width: 46em;
  margin: 20px auto;
  line-height: 1.5;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
  top: 3px;
  margin-right: 0.5em;
}

.dn { display: none; }

.ma0 { margin: 0; }
.mad { margin: 0 0 1em; }
.mb2 { margin-bottom: 2em; }
.mt2 { margin-top: 2em; }

.list-reset {
  padding-left: 1.2em;
  margin: 0 0 1em;
}

.emoji {
  display: inline-block;
  animation: 1.5s linear 0s infinite running wave;
}

@media (min-width: 820px) {
  .ma0-ns { margin: 0; }

  .flex-ns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .item {
    box-sizing: border-box;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item.first {
    padding-left: 0;
  }

  .item.last {
    padding-right: 0;
  }

  .list-reset {
    padding: 0;
    margin: 0 0 1em;
  }
}
