body {
  margin: 0;
  padding: 0;
  font: 22px/1.6 Georgia, serif;
  color: #222;
}

#content {
  margin: 0 20px;
}

p {
  color: #888;
  margin: 0 0 1em;
}

p.photo {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 3em;
}

.row {
  clear: both;
  margin: 0 0 3em;
  padding: 0 0 2em;
  border-bottom: 1px solid #ddd;
  text-align: center;
  display: table;
  width: 100%;
}

.row h1 {
  text-align: left;
}

.row div h1 {
  text-align: center;
}

.row .full img {
  margin-bottom: 3em;
}

.row .full p {
  margin: 0 20% 1.5em;
  text-align: left;
}

.row .half {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.row .third {
  display: table-cell;
  vertical-align: middle;
  width: 33%;
}
